.app__newsletter{
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
    z-index: 100;
}

.app__newsletter-heading{
    text-align: center;
}

.app__newsletter-input{
    margin-top: 4rem;
    width: 100%;
}

.app__newsletter-input input{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 2rem;
    padding: 1rem;
    background: var(--color-black);
    outline: none;
    border: 1px solid var(--color-golden);
    color: #fff;
}

@media screen and (max-width: 2000px) {
    
}


@media screen and (max-width: 900px) {
    .app__newsletter-heading h1{
        font-size: 23px;
    }

    .app__newsletter-input{
        flex-direction: column;
    }

    .app__newsletter-input input{
      margin: 0 0 1rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__newsletter-heading h1{ 
        font-size: 35px;
    }

    .app__newsletter-heading p{
        font-size: 10px;
    }

    .app__newsletter-input input{
        font-size: 10px;
        margin-top: 0;
    }
}