.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    color: var(--color-golden);
    font-size: 90px;
    font-family: var(--font-base);
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.6px;
    text-transform: capitalize;
}

.app__wrapper_img{
    width: 80%;
}

@media screen and (max-width:650px) {
    .app__header-h1{
        font-size: 40px;
    }
}